*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/TestWebApplication1.AssemblyInfo.cs
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/TestWebApplication1.AssemblyInfoInputs.cache
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/TestWebApplication1.csproj.CoreCompileInputs.cache
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/TestWebApplication1.csproj.FileListAbsolute.txt
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/TestWebApplication1.csprojAssemblyReference.cache
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/TestWebApplication1.dll
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/TestWebApplication1.pdb
/ServakApplication/ServakApplication/obj/project.assets.json
/ServakApplication/ServakApplication/obj/ServakApplication.csproj.nuget.cache
/ServakApplication/ServakApplication/obj/ServakApplication.csproj.nuget.g.props
/ServakApplication/ServakApplication/obj/ServakApplication.csproj.nuget.g.targets
/ServakApplication/ServakApplication/obj/TestWebApplication1.csproj.nuget.cache
/ServakApplication/ServakApplication/obj/TestWebApplication1.csproj.nuget.g.props
/ServakApplication/ServakApplication/obj/TestWebApplication1.csproj.nuget.g.targets
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/ServakApplication.deps.json
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/ServakApplication.dll
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/ServakApplication.pdb
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/ServakApplication.runtimeconfig.dev.json
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/ServakApplication.runtimeconfig.json
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/TestWebApplication1.deps.json
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/TestWebApplication1.dll
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/TestWebApplication1.pdb
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/TestWebApplication1.runtimeconfig.dev.json
/ServakApplication/ServakApplication/bin/Debug/netcoreapp2.0/TestWebApplication1.runtimeconfig.json
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/ServakApplication.AssemblyInfo.cs
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/ServakApplication.AssemblyInfoInputs.cache
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/ServakApplication.csproj.CoreCompileInputs.cache
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/ServakApplication.csproj.FileListAbsolute.txt
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/ServakApplication.csprojAssemblyReference.cache
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/ServakApplication.dll
/ServakApplication/ServakApplication/obj/Debug/netcoreapp2.0/ServakApplication.pdb
